/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  background: #090728 !important;
  font-family: 'Roboto';
  color: #96A2B4;
}

.worldimg {
	background-image: url(../img/wireframe-dotted-world.svg);
	background-repeat:no-repeat;
}

.header {
	margin-bottom: 20px;
}

.navbar-inverse {
	background: #090728;
	border-bottom: 1px solid #E5063E
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:active{
	background: #E5063E;
}

.header nav {
	margin-bottom: 0;
}
.header .subnav {
  background-color: #383f4B;
  border-bottom: 1px solid #383f4B;
}

.header .subnav ul {
  padding: 0;
  margin: 0 0 0 52px;
  list-style: none;
}

.header .subnav ul > li {
  float: left;
  min-width: 70px;
  margin: 0 5px 0 0;
  text-align: center;
}

.header .subnav ul > li a {
  display: inline-block;
  padding: 10px;
  color: #888888;
}

.header .subnav ul > li a:hover,
.header .subnav ul > li a:focus {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #ccccca;
}

.header .subnav ul > li.active a {
  font-family: 'Roboto';
  border-bottom: 2px solid #E5063E;
}

.btn-sm{
	float: right;
}

.btn-info{
	border-color: #E5063E;
	background-color: #E5063E;
}

.footer {
  border-top: 1px solid #e5063e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set the fixed height of the footer here */
  height: 40px;
}

.footer a {
	margin-top: 10px;
}

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.container .text-muted .github{
  font-size: 18px;
  line-height: 10px;
  padding-right: 5px;
}
.footer > .container {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0px;
}
code {
  font-size: 80%;
}

.settingPage a {
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 0 0 3px;
  background: #383f4B;
  color: #96A2B4;
}
.settingPage a:hover,
.settingPage a.active {
  color: #fff;
  text-decoration: none;
  background: #E5063E;
}

.row_bridge {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex: 0;
}

.right {
	text-align: right;
}

.center {
  text-align: center;
}

.nowrap {
	white-space:nowrap;
}



/*--------------------------------------------------
.currency-summary {
  font-size: 18px;
}
.currency-summary .balance {
    text-align: right;
}
.currency-summary .component {
    font-family: OpenSansLight;
    font-size: 16px;
    line-height: 35px;
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ccccca;
}
.currency-summary .balancebox {
  border: 1px solid #ccccca;
  background-color: #f3f3f3;
  padding: 0 20px;
  margin-bottom: 10px;
}
.currency-summary .total .lbl {
  color: #676027;
  font-family: OpenSansBold;
}
.currency-summary .total .lbl i {
  color: #888888;
  display: inline-block;
  text-align: center;
  width: 2em;
  padding-right: 0.8em;
}
.currency-summary .total .lbl,
.currency-summary .total .balance {
  color: #1f1f1e;
  line-height: 60px;
}
.currency-summary .total .lbl a,
.currency-summary .total .balance a {
  display: block;
  color: #1f1f1e;
  text-decoration: none;
}
.currency-summary .currency-non-native .total {
  cursor: pointer;
}
.currency-native {
  color: #346aa9;
}
 */

.padding-15 {
  padding: 15px;
}
